<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unico Consult - Testimonials</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Testimonials</h1>
    <blockquote>
        <p>"Unico Consult helped us achieve our goals!"</p>
        <cite>- Happy Customer</cite>
    </blockquote>
    <blockquote>
        <p>"Professional and reliable service."</p>
        <cite>- Another Client</cite>
    </blockquote>
    <a href="/index.html">Back to Home</a>
</body>
</html>
